* {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Permanent Marker';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#b3e5fc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
